*{
    background-color: rgb(198, 207, 231);
    padding: 1em 1em 1em 1em;
}

h1{
    color: red;
    text-align: center;
    
}

.parrafo{
    font-family: 'Times New Roman', Times, serif;
    font-size: 150%;
    font-weight: 400;
}

.imagen1{
    width: 30%;
    left: 30%;
}

.parrafo2{
    font-family: 'Times New Roman', Times, serif;
    font-size: 150%;
    font-weight: 400;
}